:root {
    --background-colour: #F4F3EE;
    --background-colour-primary: #E2E2E2;
    --font-colour: #6A6A6A;
    --red-colour: #C32C72;
    --column-alternate: #bebbbb;
    --white: #FFFFFF;
    --grey: #E5E5E5;
}